.header {
  overflow: hidden;
  background-color: #009999;
  padding: 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header a.logo {
    height: 100%;
    width: 150px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}


.header-right {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

